.Categories {
  text-align: center;
}

.Categories-image {
  width: 200px;
}

.Categories-list {
  display: flex;
  justify-content: space-evenly;
}

.Categories-list-item {
  cursor: pointer;
}

.Categories-list-item:hover {
  opacity: .8;
}