.Categories {
  text-align: center;
}

.Categories-image {
  width: 100%;
}

.Categories-list {
  display: flex;
  justify-content: space-evenly;
}

.Categories-list-item {
  cursor: pointer;
}

.Categories-list-item:hover {
  opacity: .8;
}

.Categories-footer {
  margin: 30px 0;
}

.Categories-paper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500;
    padding: 4;
}